<div class="shape-shadow shape-shadow-bottom"><div class="shape-bottom"></div></div>
<div class="bottom-bar">
    <img src="{{ asset("img/vacit-logo-white.png") }}" class="small-right" width="167px">
    <div class="bottom-info-address">
        <div class="bebase">Adres</div>
        <div class="small"><i>Lorem ipsem dolor sit amet, consectetuer</i></div>
    </div>
    <div class="bottom-info-privacy">
        <div class="bebase">Privacy</div>
        <div class="small"><i>Lorem ipsem dolor sit amet, consectetuer</i></div>
    </div>
</div>